name: Standard ROS Build Checker

on:
    push:
    pull_request:

env:
    ROS_WS: ${{ github.workspace }}/ros2_ws/
    ROS_SRC: ${{ github.workspace }}/ros2_ws/src

jobs:
  ros-build:
    uses: qualcomm-qrb-ros/qrb_ros_gh_actions/.github/workflows/ubuntu-build.yml@main
    with:
      env_setup_commands: |
        echo "LD_LIBRARY_PATH=/usr/lib/qcm6490:$LD_LIBRARY_PATH" >> $GITHUB_ENV
        echo "LIBRARY_PATH=/usr/lib/qcm6490:$LIBRARY_PATH" >> $GITHUB_ENV        
